body {
  margin: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;
  user-select: none;
}

#container {
  width: 580px;
  height:300px;
  background-color: black;
}
#interface {
  position: relative;
  width: 580px;
  height:300px;
  overflow: scroll;
  background-color: rgb(60,60,60);
}

#piano {
  position: absolute;
  left: 0;
  width: 80px;
  height: 1500px;
  overflow: scroll;
  background-color: black;
}

#sheet {
  position: absolute;
  left: 80px;
  width: 500px;
  height: 1500px;
  overflow: scroll;
  background-color: white;
}
