body {
  margin:0;
}
#container {
  width: 600px;
  height: 460px;
  background-color: black;
  position: absolute;
}
label {
  color: white;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  margin: 5px;
}

.pattern-sequencer-container {
  overflow: scroll;
  height: 380px;
  width: 159px;
  left: 0px;
  position: absolute;
}

.inputs {
  padding: 4px;
  border-bottom: 2px solid rgb(70, 70, 70);
}

.pattern-list {
  background-color: rgb(34, 33, 33);
  width: 158px;
  height: 369px;
  left: 0px;
  position: absolute;
  top: 38px;
}

.pattern-sequencer {
  /*margin-left: 160px;*/
}

.clock-canvas {
  /*left: 160px;*/
  top: 0;
  height: 34px;
}
